{% extends "templates/web.html" %}

{% if formattedAmount %}
{% set title = _("Payment") + " ⋅ " + formattedAmount %}
{% else %}
{% set title = _("Payment") %}
{% endif %}

{% block head_include %}
<link rel="stylesheet" href="/assets/frappe/css/fonts/fontawesome/css/all.min.css">
<style>
#payment-method-selection-page {
	max-width: 80ch;
	margin: 0 auto;
}
.payment-button {
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 0 2px var(--gray);
	position: relative;
	z-index: 1;
}
.payment-button:is(:hover,:focus-visible) {
	outline: 0;
	box-shadow: 0 0 0 4px var(--primary);
	color: var(--alert-text-info);
}
.payment-button:is(:hover,:focus-visible) .payment-button__label {
	text-decoration: underline;
}
.payment-button:active {
	box-shadow: 0 0 0 2px var(--primary);
}
.payment-button:is(:hover,:active)::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary);
	opacity: 0.2;
}
.payment-button i {
	width: 1.5em;
}
.payment-button:hover i {
	color: var(--alert-text-info);
}
</style>
{% endblock %}

{% macro header() %}
{%- if formattedAmount and enabled_mode_of_payments -%}
<header class="payment-header flex-col">
	<h1 class="flex flex-wrap justify-between align-items-baseline" style="gap: 0rem 3rem;">
		<span class="flex-shrink-0 font-size-4xl">{{ _("Payment") }}</span>
		<span class="flex-shrink-0 font-size-6xl">{{ formattedAmount }}</span>
	</h1>
	<p>
		<strong>{{ _("Select your payment method") }}</strong><br>
		{% if subject %}
			<small>{{ _("Reference: {0} {1}").format(subject, "") }}</small>
		{% endif %}
	</p>
	<br>
</header>
{%- elif not enabled_mode_of_payments -%}
<div class="text-center align-self-center">
	<h2>{{ _("This link is not valid or not activated yet.") }}</h2>
</div>
{%- elif not formattedAmount -%}
<div class="text-center align-self-center">
	<h2>{{ _("No amount could be found for this payment link.") }}</h2>
</div>
{%- endif -%}
{% endmacro %}

{% block page_content %}
<div id="payment-method-selection-page">
	{{ header() }}
	{%- if formattedAmount and enabled_mode_of_payments -%}
	<ul class="list-unstyled flex flex-wrap" style="gap: 1rem;">
		{%- for mop in enabled_mode_of_payments -%}
		<li class="m-0 p-0" style="flex: 1 1 30ch;">
			<button class="payment-button flex flex-wrap justify-between align-items-center btn-reset w-100 h-100" data-mode-of-payment="{{ mop.name | e }}" data-reference_doctype="{{ reference_doctype | e }}" data-reference_name="{{ reference_name | e }}">
				<span class="payment-button__label font-weight-bold">{{ mop.title or mop.name or "" }}</span>
				<i aria-hidden="true" class="font-size-4xl {{ icon_map.get(mop.icon, 'fas fa-coins') }}"></i>
				{% if mop.description %}
					<div class="small">{{ mop.description }}</div>
				{% endif %}
			</button>
		</li>
		{%- endfor -%}
		{# Empty divs to fill the remaining space #}
		<div style="flex: 1 1 30ch;"></div>
		<div style="flex: 1 1 30ch;"></div>
		<div style="flex: 1 1 30ch;"></div>
	</ul>
	{%- endif -%}
</div>
{% endblock %}