{% extends "frappe/www/me.html" %}

{% block head_include %}
{% if enable_stripe %}
<script src="https://js.stripe.com/v3/"></script>
{% endif %}
{% endblock %}


{% block account_content %}
{% if credits_balance %}
<div class="col d-flex justify-content-between align-items-center">
	<span>
		<div class="my-account-item">{{_("Available booking credits") }}</div>
		{% for bal in credits_balance %}
		<div class="my-account-item-desc">{{ bal }}: <span class="muted">{{ credits_balance[bal] or "" }}</span>
		</div>
		{% endfor %}
	</span>
</div>
{% endif %}
{% if enable_stripe %}
<div class="col d-flex justify-content-between align-items-center">
	<span>
		<div class="my-account-item">{{ _("Manage your payment methods") }}</div>
		{% for details in stripe_payment_methods.data %}
		<div class="my-account-item-desc">{{ details.card.brand or '' }}: {{ details.card.name or '' }} xxxxx-{{
			details.card.last4 or '' }} ({{ details.card.exp_month }}/{{ details.card.exp_year }})
			{% if stripe_payment_methods.data|length > 1 %}
			<button class="remove-stripe-card btn btn-xs btn-danger" id="{{ details.id }}">
				<svg class="right-icon icon icon-sm">
					<use xlink:href="#icon-delete">
					</use>
				</svg>
			</button>
			<!-- <button class="btn btn-xs btn-danger remove-stripe-card" id="{{ details.id }}">{{ _("Delete card") }}</button> -->
			{% endif %}
		</div>
		{% endfor %}
	</span>
	<span class="my-account-item-link">
		<button id="add-card" class="btn btn-secondary">
			<span class="item-link-text">{{_("Add a new card") }}</span>
		</button>
	</span>
</div>
<div class="d-none" id="card-form">
	<form method="post">
		<div class="mt-5 mb-5">
			<label for="card-element" class="my-account-item">
				{{ _("Credit or debit card") }}
			</label>
			<div id="card-element">
				<!-- A Stripe Element will be inserted here. -->
			</div>

			<!-- Used to display form errors. -->
			<div id="card-errors" role="alert"></div>
		</div>
		<div class="text-right">
			<button class="btn btn-primary" id="card-submit">{{ _("Add this card") }}</button>
		</div>
	</form>
</div>
{% endif %}

{% if stancer_payment_methods %}
<div class="col d-flex justify-content-between align-items-center">
	<span>
		<div class="my-account-item">{{ _("Manage your payment methods") }}</div>
		<div class="my-account-item-desc">{{ stancer_payment_methods.brand or '' }}: {{ stancer_payment_methods.name or '' }} xxxxx-{{
			stancer_payment_methods.last4 or '' }} ({{ stancer_payment_methods.exp_month }}/{{ stancer_payment_methods.exp_year }})
			<button class="remove-stancer-card btn btn-xs btn-danger" id="{{ stancer_payment_methods.id }}">
				<svg class="right-icon icon icon-sm">
					<use xlink:href="#icon-delete">
					</use>
				</svg>
			</button>
		</div>
	</span>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
	{% include "templates/includes/payment_methods.js" %}
</script>
{{ include_script("dialog.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{% endblock %}
