@media (min-width: 768px) {
    .braintree-checkout {
        margin: 2rem;
    }
}

@media (max-width: 768px) {
    .braintree-checkout {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.help-block {
    color: red;
    font-style: italic;
    font-size: var(--text-sm);
    font-weight: normal;
}