{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script src="https://js.braintreegateway.com/web/dropin/1.44.1/js/dropin.min.js"></script>
<script>{% include "templates/includes/braintree_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}
<div class="wrapper">
	<div class="braintree-checkout checkout">

		<header>
			{% if header_img %}
			<div>
				<img class="center" src="{{ header_img }}"></img>
			</div>
			{% endif %}
		</header>

		<div class="frappe-card p-5">
			<form id="payment-form">
				<section>
					<div class="row mb-5">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="billing-given-name">{{ _("First name") }}<span class="text-danger"> *</span></label>
								<input type="billing-given-name" class="form-control" id="billing-given-name" required>
								<span id="help-billing-given-name" class="help-block"></span>
							</div>
							<div class="form-group">
								<label for="billing-surname">{{ _("Last name") }}<span class="text-danger"> *</span></label>
								<input type="billing-surname" class="form-control" id="billing-surname" required>
								<span id="help-billing-surname" class="help-block"></span>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="email">{{ _("Email") }}<span class="text-danger"> *</span></label>
								<input type="email" class="form-control" id="email" required>
								<span id="help-email" class="help-block"></span>
							</div>
							<div class="form-group">
								<label for="billing-phone">{{ _("Phone") }}</label>
								<input type="billing-phone" class="form-control" id="billing-phone">
								<span id="help-billing-phone" class="help-block"></span>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="billing-street-address">{{ _("Address line 1") }}<span class="text-danger"> *</span></label>
								<input type="billing-street-address" class="form-control" id="billing-street-address" required>
								<span id="help-billing-street-address" class="help-block"></span>
							</div>
							<div class="form-group">
								<label for="billing-extended-address">{{ _("Address line 2") }}</label>
								<input type="billing-extended-address" class="form-control" id="billing-extended-address">
								<span id="help-billing-extended-address" class="help-block"></span>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="billing-postal-code">{{ _("Postal code")}}<span class="text-danger"> *</span></label>
								<input type="billing-postal-code" class="form-control" id="billing-postal-code" required>
								<span id="help-billing-postal-code" class="help-block"></span>
							</div>
							<div class="form-group">
								<label for="billing-locality">{{ _("City") }}<span class="text-danger"> *</span></label>
								<input type="billing-locality" class="form-control" id="billing-locality" required>
								<span id="help-billing-locality" class="help-block"></span>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="bt-drop-in-wrapper">
						<div id="bt-dropin"></div>
					</div>
				</section>
				<section class="mt-5 text-right">
					<button class="btn btn-primary" type="submit" id="submit-button" disabled>
						<span>{{ _("Pay") }} {{ amount }} {{ currency }}</span>
					</button>
				</section>
				<section class="mt-5 text-right warning">
					<div id="warning-msg" class="alert alert-danger"></div>
				</section>
			</form>
		</div>
	</div>
</div>

<style>
.center {
	margin:auto;
	display: block;
}

</style>
{% endblock %}
