{% extends "templates/web.html" %}

{% block title %}Paiement grâce à HelloAsso{% endblock %}

{%- block page_content -%}
<div class="py-24 sm:py-32">
    <div class="mx-auto sm:px-6 lg:px-8 max-w-7xl gap-16 sm:gap-y-24 helloasso-disclaimer p-5 text-center">
        <div>
            <div class="w-50 mx-auto"><img src="/assets/payments/images/logo-helloasso.svg"></div>
            <h2 class="text-3xl font-bold text-white sm:text-4xl lg:text-5xl mt-5">
                HelloAsso nous permet de collecter nos paiements sans frais, ni commission. Pour continuer à simplifier
                la vie de notre association, n'hésitez pas à laisser une contribution volontaire au moment de votre
                paiement : c'est leur unique source de revenus !</h2>
            <div class="mt-6">
                <a class="inline-flex items-center btn btn-lg"
                    href="{{ payment_link }}" rel="noopener noreferrer">
                    Payer avec HelloAsso
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .helloasso-disclaimer {
        background-color: #2e2f5e;
        border-radius: 1.5rem;
    }

    .btn {
        background-color: #65a30d;
        color: #fff;
        padding: 15px 24px;
    }
</style>
{% endblock %}