{% extends "templates/web.html" %}

{% block title %}{{ _("Payment in progress") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator blue'>
			{{ _("Payment In Progress") }}</span>
	</div>
	<div>
		<div class="d-flex align-items-center">
			<span>{{ payment_message or _("Your payment is being processed") }}...</span>
			<div class="spinner-border spinner-border-sm ml-auto" role="status" aria-hidden="true"></div>
		  </div>
	</div>
</div>
<style>
{% include "templates/styles/card_style.css" %}
</style>
{% endblock %}