{% extends "templates/web.html" %}

{% block title %}{{ _("Redirection in progress") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		{% if payment_request and payment_status == "Pending"%}
			<span class='indicator blue'>{{ _("Redirection In Progress") }}</span>
		{% elif payment_request and payment_status == "Paid"%}
			<span class='indicator green'>{{ _("Redirection In Progress") }}</span>
		{% elif payment_request and payment_status == "Failed"%}
			<span class='indicator red'>{{ payment_failure or _("The payment failed. Please check the Sumup app.") }}</span>
		{% else %}
			<span class='indicator red'>{{ _("Missing transaction ID") }}</span>
		{% endif %}
	</div>
	<div>
		<div class="d-flex align-items-center">
				<span>{{ payment_message or _("Your payment is being analyzed") }}...</span>
				{% if payment_request %}
				<div class="spinner-border spinner-border-sm ml-auto" role="status" aria-hidden="true"></div>
				{% endif %}
		  </div>
	</div>
</div>
<style>
{% include "templates/styles/card_style.css" %}
</style>
{% endblock %}